@import "tailwindcss";

:root {
  --font-sans: 'DM Sans', sans-serif;
  --font-mono: 'DM Mono', monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-sans);
  background: #f9f9f7;
  color: #111;
}

::selection {
  background: #111;
  color: #f9f9f7;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f9f9f7;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 2px;
}